In [2]:
# imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

## Zillow File Info for reference

### Zip_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv
Zillow Home Value Index (ZHVI) A measure of the typical home value and market changes across a given region and housing type

### Zip_zhvf_growth_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv 
Zillow Home Value Forecast (ZHVF)

### Metro_sales_count_now_uc_sfrcondo_month.csv 
Sales Count Nowcast is the estimated number of unique properties that sold during the month after accounting for the latency between when sales occur and when they are reported.

### Metro_invt_fs_uc_sfrcondo_sm_month.csv
FOR-SALE LISTINGS
- For-Sale Inventory: The count of unique listings that were active at any time in a given month.
- New Listings: Indicates how many new listings have come on the market in a given month.
- Newly Pending Listings: The count of listings that changed from for-sale to pending status on Zillow.com in a given time period.
- Median List Price: The median price at which homes across various geographies were listed.

### Metro_sales_count_now_uc_sfrcondo_month.csv
SALES
The Sales Count Nowcast is the estimated number of unique properties that sold during the month after accounting for the latency between when sales occur and when they are reported. Available only for the raw cut of all homes.
- Sale Price (median/mean): The price at which homes across various geographies were sold.
- Total Transaction Value: The total dollar value of all homes sold in a given period (mean sale price x sales count)
- Sale-to-List Ratio (mean/median): Ratio of sale vs. final list price.
- Percent of Sales Below/Above List: Share of sales where sale price below/above the final list price; excludes homes sold for exactly the list price.

### Metro_mean_doz_pending_uc_sfrcondo_sm_month.csv
DAYS ON MARKET AND PRICE CUTS
- Days to Pending: How long it takes homes in a region to change to pending status on Zillow.com after first being shown as for sale. The reported figure indicates the number of days (mean or median) that it took for homes that went pending during the week being reported, to go pending. This differs from the old “Days on Zillow” metric in that it excludes the in-contract period before a home sells.
- Days to Close (mean/median): Number of days between the listing going pending and the sale date.
- Share of Listings With a Price Cut: The number of unique properties with a list price at the end of the month that’s less than the list price at the beginning of the month, divided by the number of unique properties with an active listing at some point during the month.
- Price Cuts: The mean and median price cut for listings in a given region during a given time period, expressed as both dollars ($) and as a percentage (%) of list price.
Note: “Weekly” means you can see the metric’s value on a weekly cadence. The CSVs are updated monthly.

## Read in Data

In [9]:
# read in all the files in the Data/zillow folder

# print working directory
print(os.getcwd())

for file in os.listdir('../Data/zillow'):
    df = pd.read_csv('../Data/zillow/' + file)
    # print the name of the file
    print(file)
    print(df.head())
    # how many rows and columns are in each file
    print(df.shape)
    # how many NaNs are in each file
    print(df.isna().sum())
    # how many unique values are in each file
    print(df.nunique())

/Users/bermo/github/capstone/real_estate_analysis/Notebooks
Metro_market_temp_index_uc_sfrcondo_month.csv
   RegionID  SizeRank       RegionName RegionType StateName  2018-01-31  \
0    102001         0    United States    country       NaN        49.0
1    394913         1     New York, NY        msa        NY        52.0
2    753899         2  Los Angeles, CA        msa        CA        68.0
3    394463         3      Chicago, IL        msa        IL        48.0
4    394514         4       Dallas, TX        msa        TX        56.0

   2018-02-28  2018-03-31  2018-04-30  2018-05-31  ...  2023-11-30  \
0        50.0        52.0        54.0        55.0  ...        54.0
1        52.0        55.0        57.0        56.0  ...        67.0
2        66.0        65.0        66.0        66.0  ...        72.0
3        49.0        51.0        52.0        50.0  ...        59.0
4        56.0        58.0        60.0        60.0  ...        58.0

   2023-12-31  2024-01-31  2024-02-29  2024-03-31  2024-04-30  2024-05-31  \
0        56.0        59.0        63.0        63.0        62.0        59.0
1        75.0        85.0        91.0        89.0        87.0        81.0
2        77.0        81.0        84.0        83.0        80.0        74.0
3        62.0        68.0        74.0        76.0        75.0        71.0
4        62.0        66.0        68.0        68.0        65.0        60.0

   2024-06-30  2024-07-31  2024-08-31
0        57.0        55.0        54.0
1        77.0        76.0        78.0
2        70.0        66.0        65.0
3        67.0        64.0        61.0
4        56.0        52.0        50.0

[5 rows x 85 columns]
(928, 85)
RegionID      0
SizeRank      0
RegionName    0
RegionType    0
StateName     1
             ..
2024-04-30    0
2024-05-31    0
2024-06-30    0
2024-07-31    0
2024-08-31    4
Length: 85, dtype: int64
RegionID      928
SizeRank      925
RegionName    928
RegionType      2
StateName      50
             ...
2024-04-30    103
2024-05-31    100
2024-06-30     97
2024-07-31     92
2024-08-31     94
Length: 85, dtype: int64
Metro_sales_count_now_uc_sfrcondo_month.csv
   RegionID  SizeRank       RegionName RegionType StateName  2008-02-29  \
0    102001         0    United States    country       NaN    200263.0
1    394913         1     New York, NY        msa        NY      8416.0
2    753899         2  Los Angeles, CA        msa        CA      4141.0
3    394463         3      Chicago, IL        msa        IL      5570.0
4    394514         4       Dallas, TX        msa        TX      4875.0

   2008-03-31  2008-04-30  2008-05-31  2008-06-30  ...  2023-11-30  \
0    231896.0    257463.0    283461.0    296547.0  ...    258258.0
1      8883.0      9809.0     10081.0     10685.0  ...     11143.0
2      5044.0      6065.0      6868.0      7222.0  ...      5119.0
3      6908.0      7230.0      7931.0      8781.0  ...      7022.0
4      5519.0      5988.0      6679.0      6672.0  ...      4625.0

   2023-12-31  2024-01-31  2024-02-29  2024-03-31  2024-04-30  2024-05-31  \
0    246648.0    211949.0    234310.0    282773.0    318615.0    350767.0
1     10675.0     10345.0      8916.0     10063.0     10993.0     12208.0
2      4974.0      4401.0      4980.0      6101.0      6714.0      7119.0
3      7129.0      5512.0      5765.0      7661.0      9277.0     10195.0
4      4706.0      4207.0      5137.0      6144.0      6969.0      7458.0

   2024-06-30  2024-07-31  2024-08-31
0    326229.0    340368.0    332735.0
1     12446.0     13878.0     14512.0
2      6380.0      7027.0      7315.0
3      9768.0     10487.0     10850.0
4      6465.0      6758.0      6677.0

[5 rows x 204 columns]
(94, 204)
RegionID      0
SizeRank      0
RegionName    0
RegionType    0
StateName     1
             ..
2024-04-30    0
2024-05-31    0
2024-06-30    0
2024-07-31    0
2024-08-31    0
Length: 204, dtype: int64
RegionID      94
SizeRank      94
RegionName    94
RegionType     2
StateName     38
              ..
2024-04-30    94
2024-05-31    92
2024-06-30    93
2024-07-31    93
2024-08-31    93
Length: 204, dtype: int64
Metro_new_con_sales_count_raw_uc_sfrcondo_month.csv
   RegionID  SizeRank       RegionName RegionType StateName  2018-01-31  \
0    102001         0    United States    country       NaN     34241.0
1    394913         1     New York, NY        msa        NY       504.0
2    753899         2  Los Angeles, CA        msa        CA       333.0
3    394463         3      Chicago, IL        msa        IL       287.0
4    394514         4       Dallas, TX        msa        TX      1415.0

   2018-02-28  2018-03-31  2018-04-30  2018-05-31  ...  2023-10-31  \
0     33493.0     42973.0     37989.0     40335.0  ...     32465.0
1       418.0       501.0       485.0       542.0  ...       368.0
2       398.0       586.0       438.0       452.0  ...       164.0
3       255.0       330.0       350.0       391.0  ...       397.0
4      1516.0      2068.0      1784.0      1602.0  ...      1419.0

   2023-11-30  2023-12-31  2024-01-31  2024-02-29  2024-03-31  2024-04-30  \
0     31492.0     32798.0     23622.0     30017.0     35615.0     33505.0
1       348.0       296.0       253.0       261.0       301.0       292.0
2       215.0       193.0       138.0       147.0       234.0       238.0
3       515.0       349.0       284.0       400.0       410.0       444.0
4      1362.0      1588.0      1169.0      1359.0      1584.0      1496.0

   2024-05-31  2024-06-30  2024-07-31
0     35693.0     32529.0     30052.0
1       403.0       309.0       308.0
2       234.0       226.0       144.0
3       516.0       414.0       414.0
4      1457.0      1417.0      1202.0

[5 rows x 84 columns]
(346, 84)
RegionID       0
SizeRank       0
RegionName     0
RegionType     0
StateName      1
              ..
2024-03-31    36
2024-04-30    24
2024-05-31    15
2024-06-30     7
2024-07-31     2
Length: 84, dtype: int64
RegionID      346
SizeRank      345
RegionName    346
RegionType      2
StateName      45
             ...
2024-03-31    143
2024-04-30    145
2024-05-31    146
2024-06-30    139
2024-07-31    136
Length: 84, dtype: int64
Metro_mean_doz_pending_uc_sfrcondo_sm_month.csv
   RegionID  SizeRank       RegionName RegionType StateName  2018-03-31  \
0    102001         0    United States    country       NaN        51.0
1    394913         1     New York, NY        msa        NY        68.0
2    753899         2  Los Angeles, CA        msa        CA        35.0
3    394463         3      Chicago, IL        msa        IL        51.0
4    394514         4       Dallas, TX        msa        TX        46.0

   2018-04-30  2018-05-31  2018-06-30  2018-07-31  ...  2023-11-30  \
0        48.0        45.0        43.0        44.0  ...        39.0
1        65.0        63.0        64.0        66.0  ...        57.0
2        32.0        31.0        32.0        33.0  ...        33.0
3        44.0        40.0        39.0        40.0  ...        30.0
4        42.0        38.0        37.0        38.0  ...        40.0

   2023-12-31  2024-01-31  2024-02-29  2024-03-31  2024-04-30  2024-05-31  \
0        44.0        49.0        52.0        49.0        43.0        39.0
1        61.0        68.0        71.0        67.0        58.0        51.0
2        36.0        40.0        41.0        37.0        33.0        30.0
3        36.0        42.0        43.0        38.0        31.0        26.0
4        45.0        51.0        52.0        49.0        43.0        39.0

   2024-06-30  2024-07-31  2024-08-31
0        37.0        38.0        41.0
1        49.0        49.0        52.0
2        29.0        30.0        33.0
3        24.0        24.0        25.0
4        38.0        40.0        45.0

[5 rows x 83 columns]
(756, 83)
RegionID       0
SizeRank       0
RegionName     0
RegionType     0
StateName      1
              ..
2024-04-30    62
2024-05-31    52
2024-06-30    43
2024-07-31    33
2024-08-31     0
Length: 83, dtype: int64
RegionID      756
SizeRank      754
RegionName    756
RegionType      2
StateName      50
             ...
2024-04-30     89
2024-05-31     87
2024-06-30     84
2024-07-31     90
2024-08-31     90
Length: 83, dtype: int64
Metro_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month (1).csv
   RegionID  SizeRank       RegionName RegionType StateName     2000-01-31  \
0    102001         0    United States    country       NaN  122710.838539
1    394913         1     New York, NY        msa        NY  218233.216724
2    753899         2  Los Angeles, CA        msa        CA  222104.914025
3    394463         3      Chicago, IL        msa        IL  153956.315498
4    394514         4       Dallas, TX        msa        TX  126111.301852

      2000-02-29     2000-03-31     2000-04-30     2000-05-31  ...  \
0  122926.726242  123194.458782  123768.692526  124429.566719  ...
1  219160.584763  220096.541902  221993.153236  223957.159952  ...
2  222931.426109  224032.332323  226222.765868  228618.413461  ...
3  154098.834197  154370.263570  155045.512395  155857.755512  ...
4  126167.472266  126232.045908  126399.736872  126620.832817  ...

      2023-11-30     2023-12-31     2024-01-31     2024-02-29     2024-03-31  \
0  353806.242676  354242.717001  354677.065211  355473.042348  357021.050068
1  636475.270504  639265.650987  642178.317205  646255.694516  651704.395720
2  921146.559682  926554.539271  926708.887683  923740.986284  922618.466845
3  311275.135372  311913.816691  312578.140750  313972.158826  316395.381263
4  372438.862159  372112.028509  372133.731174  372616.126553  373774.335129

      2024-04-30     2024-05-31     2024-06-30     2024-07-31     2024-08-31
0  358884.957514  360324.712897  360888.668935  361037.327498  361281.717048
1  657863.854229  662561.428749  665667.764258  668437.168324  672210.970325
2  926105.996730  932034.718291  936012.934083  940417.087163  945635.978294
3  319279.856054  321409.733463  322638.674660  323378.146509  324304.487366
4  374743.310085  374887.158218  374222.635105  373283.837228  372632.458458

[5 rows x 301 columns]
(895, 301)
RegionID      0
SizeRank      0
RegionName    0
RegionType    0
StateName     1
             ..
2024-04-30    0
2024-05-31    0
2024-06-30    0
2024-07-31    0
2024-08-31    0
Length: 301, dtype: int64
RegionID      895
SizeRank      892
RegionName    895
RegionType      2
StateName      50
             ...
2024-04-30    895
2024-05-31    895
2024-06-30    895
2024-07-31    895
2024-08-31    895
Length: 301, dtype: int64
Metro_invt_fs_uc_sfrcondo_sm_month.csv
   RegionID  SizeRank       RegionName RegionType StateName  2018-03-31  \
0    102001         0    United States    country       NaN   1421528.0
1    394913         1     New York, NY        msa        NY     73707.0
2    753899         2  Los Angeles, CA        msa        CA     21998.0
3    394463         3      Chicago, IL        msa        IL     38581.0
4    394514         4       Dallas, TX        msa        TX     24043.0

   2018-04-30  2018-05-31  2018-06-30  2018-07-31  ...  2023-11-30  \
0   1500192.0   1592413.0   1660613.0   1709144.0  ...    970238.0
1     80345.0     85864.0     90067.0     91881.0  ...     42068.0
2     23784.0     25605.0     27109.0     28811.0  ...     15877.0
3     42253.0     45757.0     47492.0     48985.0  ...     22957.0
4     25876.0     28225.0     30490.0     32408.0  ...     23305.0

   2023-12-31  2024-01-31  2024-02-29  2024-03-31  2024-04-30  2024-05-31  \
0    932240.0    890491.0    876361.0    913841.0    967480.0   1036855.0
1     39540.0     36461.0     34858.0     36244.0     38666.0     41641.0
2     14897.0     14058.0     13754.0     14572.0     15567.0     16977.0
3     21135.0     19092.0     18342.0     19059.0     20389.0     21782.0
4     22577.0     21664.0     21401.0     22537.0     24388.0     26468.0

   2024-06-30  2024-07-31  2024-08-31
0   1101144.0   1149664.0   1172609.0
1     43847.0     44838.0     43701.0
2     18457.0     19823.0     20687.0
3     23134.0     24180.0     24764.0
4     28696.0     30378.0     31590.0

[5 rows x 83 columns]
(928, 83)
RegionID      0
SizeRank      0
RegionName    0
RegionType    0
StateName     1
             ..
2024-04-30    0
2024-05-31    0
2024-06-30    0
2024-07-31    0
2024-08-31    0
Length: 83, dtype: int64
RegionID      928
SizeRank      925
RegionName    928
RegionType      2
StateName      50
             ...
2024-04-30    565
2024-05-31    582
2024-06-30    580
2024-07-31    599
2024-08-31    614
Length: 83, dtype: int64

In [11]:
# the two files starting with "Zip" are the zip code aggregations, and the rest are metro level aggregations
# print the shape of each file
for file in os.listdir('../Data/zillow'):
    if file.startswith('Zip'):
        print(file, df.shape)
    else:
        print(file, df.shape)

#

Zip_zhvf_growth_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv (928, 83)
Metro_market_temp_index_uc_sfrcondo_month.csv (928, 83)
Zip_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv (928, 83)
Metro_sales_count_now_uc_sfrcondo_month.csv (928, 83)
Metro_new_con_sales_count_raw_uc_sfrcondo_month.csv (928, 83)
Metro_mean_doz_pending_uc_sfrcondo_sm_month.csv (928, 83)
Metro_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month (1).csv (928, 83)
Metro_invt_fs_uc_sfrcondo_sm_month.csv (928, 83)

In [21]:
# print head of Zip_zhvf_growth_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv
df = pd.read_csv('../Data/zillow/Zip_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv')
print(df.head())

# print shape of df
print(df.shape)

# print info of df
print(df.info())

# how many unique values are in the "RegionID" column
print(df['RegionID'].nunique())

# how many unique values are in the "RegionName" column
print(df['RegionName'].nunique())

# how many unique values are in the "StateName" column
print(df['StateName'].nunique())

# count of rows for each value of "Metro"
print(df['Metro'].value_counts())

# count of unique values in the "Metro" column
print(df['Metro'].nunique())

   RegionID  SizeRank  RegionName RegionType StateName State      City  \
0     91982         1       77494        zip        TX    TX      Katy
1     61148         2        8701        zip        NJ    NJ  Lakewood
2     91940         3       77449        zip        TX    TX      Katy
3     62080         4       11368        zip        NY    NY  New York
4     91733         5       77084        zip        TX    TX   Houston

                                   Metro        CountyName     2000-01-31  \
0   Houston-The Woodlands-Sugar Land, TX  Fort Bend County  212757.568407
1  New York-Newark-Jersey City, NY-NJ-PA      Ocean County  139171.687163
2   Houston-The Woodlands-Sugar Land, TX     Harris County  103736.197118
3  New York-Newark-Jersey City, NY-NJ-PA     Queens County  147341.057200
4   Houston-The Woodlands-Sugar Land, TX     Harris County  102296.421002

   ...     2023-11-30     2023-12-31     2024-01-31     2024-02-29  \
0  ...  492924.222260  493546.021535  494938.632954  497127.041953
1  ...  586372.318321  591205.001331  592810.241565  595402.485152
2  ...  279008.405418  278716.309332  279071.835326  279773.422935
3  ...  452496.954526  448231.491948  445416.508893  443820.281564
4  ...  272482.855443  272059.668098  272105.690894  272630.892401

      2024-03-31     2024-04-30     2024-05-31     2024-06-30     2024-07-31  \
0  499973.049734  502524.796784  503854.585074  504164.982162  503780.870153
1  600568.899512  608983.205398  616423.730722  621917.743481  626853.771270
2  280871.474377  281832.243548  282366.599919  282326.827673  282092.254904
3  446865.699151  451354.559837  455955.115425  456654.443964  456147.872232
4  273630.906832  274621.401490  275123.010114  274956.422913  274664.333677

      2024-08-31
0  504193.640887
1  632157.933927
2  281910.409452
3  455518.141753
4  274391.917865

[5 rows x 305 columns]
(26338, 305)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26338 entries, 0 to 26337
Columns: 305 entries, RegionID to 2024-08-31
dtypes: float64(296), int64(3), object(6)
memory usage: 61.3+ MB
None
26338
26338
51
Metro
New York-Newark-Jersey City, NY-NJ-PA           830
Chicago-Naperville-Elgin, IL-IN-WI              376
Los Angeles-Long Beach-Anaheim, CA              360
Philadelphia-Camden-Wilmington, PA-NJ-DE-MD     334
Washington-Arlington-Alexandria, DC-VA-MD-WV    314
                                               ...
Deming, NM                                        1
Fallon, NV                                        1
Zapata, TX                                        1
Lamesa, TX                                        1
Vernal, UT                                        1
Name: count, Length: 926, dtype: int64
926

In [18]:
# get info for Data/zillow/Metro_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month (1).csv
df = pd.read_csv('../Data/zillow/Metro_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month (1).csv')
print(df.head())

# print shape of df
print(df.shape)

# print info of df
print(df.info())

   RegionID  SizeRank       RegionName RegionType StateName     2000-01-31  \
0    102001         0    United States    country       NaN  122710.838539
1    394913         1     New York, NY        msa        NY  218233.216724
2    753899         2  Los Angeles, CA        msa        CA  222104.914025
3    394463         3      Chicago, IL        msa        IL  153956.315498
4    394514         4       Dallas, TX        msa        TX  126111.301852

      2000-02-29     2000-03-31     2000-04-30     2000-05-31  ...  \
0  122926.726242  123194.458782  123768.692526  124429.566719  ...
1  219160.584763  220096.541902  221993.153236  223957.159952  ...
2  222931.426109  224032.332323  226222.765868  228618.413461  ...
3  154098.834197  154370.263570  155045.512395  155857.755512  ...
4  126167.472266  126232.045908  126399.736872  126620.832817  ...

      2023-11-30     2023-12-31     2024-01-31     2024-02-29     2024-03-31  \
0  353806.242676  354242.717001  354677.065211  355473.042348  357021.050068
1  636475.270504  639265.650987  642178.317205  646255.694516  651704.395720
2  921146.559682  926554.539271  926708.887683  923740.986284  922618.466845
3  311275.135372  311913.816691  312578.140750  313972.158826  316395.381263
4  372438.862159  372112.028509  372133.731174  372616.126553  373774.335129

      2024-04-30     2024-05-31     2024-06-30     2024-07-31     2024-08-31
0  358884.957514  360324.712897  360888.668935  361037.327498  361281.717048
1  657863.854229  662561.428749  665667.764258  668437.168324  672210.970325
2  926105.996730  932034.718291  936012.934083  940417.087163  945635.978294
3  319279.856054  321409.733463  322638.674660  323378.146509  324304.487366
4  374743.310085  374887.158218  374222.635105  373283.837228  372632.458458

[5 rows x 301 columns]
(895, 301)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 895 entries, 0 to 894
Columns: 301 entries, RegionID to 2024-08-31
dtypes: float64(296), int64(2), object(3)
memory usage: 2.1+ MB
None

In [24]:
# merge the zhvi file and the Metro_mean_doz_pending_uc_sfrcondo_sm_month.csv file
zip_zhvi = pd.read_csv('../Data/zillow/Zip_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv')
metro_doz = pd.read_csv('../Data/zillow/Metro_mean_doz_pending_uc_sfrcondo_sm_month.csv')

# print head of zip_zhvi
print(zip_zhvi.head())

# print head of metro_doz
print(metro_doz.head())

# merge the two files on "RegionName" and "Metro", repeating the metro values for each zip code
merged_df = pd.merge(zip_zhvi, metro_doz, left_on='Metro', right_on='Metro', how='left')

# print head of merged_df
print(merged_df.head())

# print shape of merged_df
print(merged_df.shape)

   RegionID  SizeRank  RegionName RegionType StateName State      City  \
0     91982         1       77494        zip        TX    TX      Katy
1     61148         2        8701        zip        NJ    NJ  Lakewood
2     91940         3       77449        zip        TX    TX      Katy
3     62080         4       11368        zip        NY    NY  New York
4     91733         5       77084        zip        TX    TX   Houston

                                   Metro        CountyName     2000-01-31  \
0   Houston-The Woodlands-Sugar Land, TX  Fort Bend County  212757.568407
1  New York-Newark-Jersey City, NY-NJ-PA      Ocean County  139171.687163
2   Houston-The Woodlands-Sugar Land, TX     Harris County  103736.197118
3  New York-Newark-Jersey City, NY-NJ-PA     Queens County  147341.057200
4   Houston-The Woodlands-Sugar Land, TX     Harris County  102296.421002

   ...     2023-11-30     2023-12-31     2024-01-31     2024-02-29  \
0  ...  492924.222260  493546.021535  494938.632954  497127.041953
1  ...  586372.318321  591205.001331  592810.241565  595402.485152
2  ...  279008.405418  278716.309332  279071.835326  279773.422935
3  ...  452496.954526  448231.491948  445416.508893  443820.281564
4  ...  272482.855443  272059.668098  272105.690894  272630.892401

      2024-03-31     2024-04-30     2024-05-31     2024-06-30     2024-07-31  \
0  499973.049734  502524.796784  503854.585074  504164.982162  503780.870153
1  600568.899512  608983.205398  616423.730722  621917.743481  626853.771270
2  280871.474377  281832.243548  282366.599919  282326.827673  282092.254904
3  446865.699151  451354.559837  455955.115425  456654.443964  456147.872232
4  273630.906832  274621.401490  275123.010114  274956.422913  274664.333677

      2024-08-31
0  504193.640887
1  632157.933927
2  281910.409452
3  455518.141753
4  274391.917865

[5 rows x 305 columns]
   RegionID  SizeRank       RegionName RegionType StateName  2018-03-31  \
0    102001         0    United States    country       NaN        51.0
1    394913         1     New York, NY        msa        NY        68.0
2    753899         2  Los Angeles, CA        msa        CA        35.0
3    394463         3      Chicago, IL        msa        IL        51.0
4    394514         4       Dallas, TX        msa        TX        46.0

   2018-04-30  2018-05-31  2018-06-30  2018-07-31  ...  2023-11-30  \
0        48.0        45.0        43.0        44.0  ...        39.0
1        65.0        63.0        64.0        66.0  ...        57.0
2        32.0        31.0        32.0        33.0  ...        33.0
3        44.0        40.0        39.0        40.0  ...        30.0
4        42.0        38.0        37.0        38.0  ...        40.0

   2023-12-31  2024-01-31  2024-02-29  2024-03-31  2024-04-30  2024-05-31  \
0        44.0        49.0        52.0        49.0        43.0        39.0
1        61.0        68.0        71.0        67.0        58.0        51.0
2        36.0        40.0        41.0        37.0        33.0        30.0
3        36.0        42.0        43.0        38.0        31.0        26.0
4        45.0        51.0        52.0        49.0        43.0        39.0

   2024-06-30  2024-07-31  2024-08-31
0        37.0        38.0        41.0
1        49.0        49.0        52.0
2        29.0        30.0        33.0
3        24.0        24.0        25.0
4        38.0        40.0        45.0

[5 rows x 83 columns]

KeyError: 'Metro'

In [31]:


# Load the datasets
# mean doz dataset
metro_doz = pd.read_csv('../Data/zillow/Metro_mean_doz_pending_uc_sfrcondo_sm_month.csv')
# zhvi dataset
zip_zhvi = pd.read_csv('../Data/zillow/Zip_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv')

# print heads for each
print(metro_doz.head())
print(zip_zhvi.head())


# extract the metro area name from the "Metro" column of the zip_zhvi dataframe (convert to string)
zip_zhvi['Metro_Name'] = zip_zhvi['Metro'].astype(str).apply(lambda x: x.split('-')[0])

# get everything before the "," in the RegionName column of the metro_doz dataframe and name it "Metro_Name"
metro_doz['Metro_Name'] = metro_doz['RegionName'].apply(lambda x: x.split(',')[0])

# now merge the two datasets on "Metro_Name"
merged_df = pd.merge(zip_zhvi, metro_doz, on='Metro_Name', how='left')

# Display the merged result
print(merged_df.head())

# Save the merged dataframe to a new CSV
merged_df.to_csv('merged_zip_metro.csv', index=False)

   RegionID  SizeRank       RegionName RegionType StateName  2018-03-31  \
0    102001         0    United States    country       NaN        51.0
1    394913         1     New York, NY        msa        NY        68.0
2    753899         2  Los Angeles, CA        msa        CA        35.0
3    394463         3      Chicago, IL        msa        IL        51.0
4    394514         4       Dallas, TX        msa        TX        46.0

   2018-04-30  2018-05-31  2018-06-30  2018-07-31  ...  2023-11-30  \
0        48.0        45.0        43.0        44.0  ...        39.0
1        65.0        63.0        64.0        66.0  ...        57.0
2        32.0        31.0        32.0        33.0  ...        33.0
3        44.0        40.0        39.0        40.0  ...        30.0
4        42.0        38.0        37.0        38.0  ...        40.0

   2023-12-31  2024-01-31  2024-02-29  2024-03-31  2024-04-30  2024-05-31  \
0        44.0        49.0        52.0        49.0        43.0        39.0
1        61.0        68.0        71.0        67.0        58.0        51.0
2        36.0        40.0        41.0        37.0        33.0        30.0
3        36.0        42.0        43.0        38.0        31.0        26.0
4        45.0        51.0        52.0        49.0        43.0        39.0

   2024-06-30  2024-07-31  2024-08-31
0        37.0        38.0        41.0
1        49.0        49.0        52.0
2        29.0        30.0        33.0
3        24.0        24.0        25.0
4        38.0        40.0        45.0

[5 rows x 83 columns]
   RegionID  SizeRank  RegionName RegionType StateName State      City  \
0     91982         1       77494        zip        TX    TX      Katy
1     61148         2        8701        zip        NJ    NJ  Lakewood
2     91940         3       77449        zip        TX    TX      Katy
3     62080         4       11368        zip        NY    NY  New York
4     91733         5       77084        zip        TX    TX   Houston

                                   Metro        CountyName     2000-01-31  \
0   Houston-The Woodlands-Sugar Land, TX  Fort Bend County  212757.568407
1  New York-Newark-Jersey City, NY-NJ-PA      Ocean County  139171.687163
2   Houston-The Woodlands-Sugar Land, TX     Harris County  103736.197118
3  New York-Newark-Jersey City, NY-NJ-PA     Queens County  147341.057200
4   Houston-The Woodlands-Sugar Land, TX     Harris County  102296.421002

   ...     2023-11-30     2023-12-31     2024-01-31     2024-02-29  \
0  ...  492924.222260  493546.021535  494938.632954  497127.041953
1  ...  586372.318321  591205.001331  592810.241565  595402.485152
2  ...  279008.405418  278716.309332  279071.835326  279773.422935
3  ...  452496.954526  448231.491948  445416.508893  443820.281564
4  ...  272482.855443  272059.668098  272105.690894  272630.892401

      2024-03-31     2024-04-30     2024-05-31     2024-06-30     2024-07-31  \
0  499973.049734  502524.796784  503854.585074  504164.982162  503780.870153
1  600568.899512  608983.205398  616423.730722  621917.743481  626853.771270
2  280871.474377  281832.243548  282366.599919  282326.827673  282092.254904
3  446865.699151  451354.559837  455955.115425  456654.443964  456147.872232
4  273630.906832  274621.401490  275123.010114  274956.422913  274664.333677

      2024-08-31
0  504193.640887
1  632157.933927
2  281910.409452
3  455518.141753
4  274391.917865

[5 rows x 305 columns]
   RegionID_x  SizeRank_x  RegionName_x RegionType_x StateName_x State  \
0       91982           1         77494          zip          TX    TX
1       61148           2          8701          zip          NJ    NJ
2       91940           3         77449          zip          TX    TX
3       62080           4         11368          zip          NY    NY
4       91733           5         77084          zip          TX    TX

       City                                  Metro        CountyName  \
0      Katy   Houston-The Woodlands-Sugar Land, TX  Fort Bend County
1  Lakewood  New York-Newark-Jersey City, NY-NJ-PA      Ocean County
2      Katy   Houston-The Woodlands-Sugar Land, TX     Harris County
3  New York  New York-Newark-Jersey City, NY-NJ-PA     Queens County
4   Houston   Houston-The Woodlands-Sugar Land, TX     Harris County

      2000-01-31  ...  2023-11-30_y  2023-12-31_y  2024-01-31_y  2024-02-29_y  \
0  212757.568407  ...          47.0          53.0          58.0          63.0
1  139171.687163  ...          57.0          61.0          68.0          71.0
2  103736.197118  ...          47.0          53.0          58.0          63.0
3  147341.057200  ...          57.0          61.0          68.0          71.0
4  102296.421002  ...          47.0          53.0          58.0          63.0

   2024-03-31_y  2024-04-30_y  2024-05-31_y  2024-06-30_y  2024-07-31_y  \
0          60.0          54.0          49.0          47.0          49.0
1          67.0          58.0          51.0          49.0          49.0
2          60.0          54.0          49.0          47.0          49.0
3          67.0          58.0          51.0          49.0          49.0
4          60.0          54.0          49.0          47.0          49.0

   2024-08-31_y
0          53.0
1          52.0
2          53.0
3          52.0
4          53.0

[5 rows x 389 columns]

In [35]:
# show number of rows in merged_df
print(merged_df.shape)

# show number of unique values in "Metro_Name" column
print(merged_df['Metro_Name'].nunique())

# get number of rows for each Metro_Name
print(merged_df['Metro_Name'].value_counts())

(28220, 389)
922
Metro_Name
nan                 5690
New York             830
Washington           628
Portland             382
Chicago              376
                    ...
Craig, CO              1
Deming, NM             1
Connersville, IN       1
Grants, NM             1
Pecos, TX              1
Name: count, Length: 922, dtype: int64
Empty DataFrame
Columns: [RegionID_x, SizeRank_x, RegionName_x, RegionType_x, StateName_x, State, City, Metro, CountyName, 2000-01-31, 2000-02-29, 2000-03-31, 2000-04-30, 2000-05-31, 2000-06-30, 2000-07-31, 2000-08-31, 2000-09-30, 2000-10-31, 2000-11-30, 2000-12-31, 2001-01-31, 2001-02-28, 2001-03-31, 2001-04-30, 2001-05-31, 2001-06-30, 2001-07-31, 2001-08-31, 2001-09-30, 2001-10-31, 2001-11-30, 2001-12-31, 2002-01-31, 2002-02-28, 2002-03-31, 2002-04-30, 2002-05-31, 2002-06-30, 2002-07-31, 2002-08-31, 2002-09-30, 2002-10-31, 2002-11-30, 2002-12-31, 2003-01-31, 2003-02-28, 2003-03-31, 2003-04-30, 2003-05-31, 2003-06-30, 2003-07-31, 2003-08-31, 2003-09-30, 2003-10-31, 2003-11-30, 2003-12-31, 2004-01-31, 2004-02-29, 2004-03-31, 2004-04-30, 2004-05-31, 2004-06-30, 2004-07-31, 2004-08-31, 2004-09-30, 2004-10-31, 2004-11-30, 2004-12-31, 2005-01-31, 2005-02-28, 2005-03-31, 2005-04-30, 2005-05-31, 2005-06-30, 2005-07-31, 2005-08-31, 2005-09-30, 2005-10-31, 2005-11-30, 2005-12-31, 2006-01-31, 2006-02-28, 2006-03-31, 2006-04-30, 2006-05-31, 2006-06-30, 2006-07-31, 2006-08-31, 2006-09-30, 2006-10-31, 2006-11-30, 2006-12-31, 2007-01-31, 2007-02-28, 2007-03-31, 2007-04-30, 2007-05-31, 2007-06-30, 2007-07-31, ...]
Index: []

[0 rows x 389 columns]

In [41]:
# merge the other metro datasets
metro_invt = pd.read_csv('../Data/zillow/Metro_invt_fs_uc_sfrcondo_sm_month.csv')
metro_sales = pd.read_csv('../Data/zillow/Metro_sales_count_now_uc_sfrcondo_month.csv')
metro_market_temp = pd.read_csv('../Data/zillow/Metro_market_temp_index_uc_sfrcondo_month.csv')
metro_new = pd.read_csv('../Data/zillow/Metro_new_con_sales_count_raw_uc_sfrcondo_month.csv')

# add suffix to the columns of each of the metro datasets
metro_invt.columns = [col + '_invt' for col in metro_invt.columns]
metro_sales.columns = [col + '_sales' for col in metro_sales.columns]
metro_market_temp.columns = [col + '_market_temp' for col in metro_market_temp.columns]
metro_new.columns = [col + '_new' for col in metro_new.columns]

# create metro_name column for each of the metro datasets
metro_invt['Metro_Name'] = metro_invt['RegionName_invt'].apply(lambda x: x.split(',')[0])
metro_sales['Metro_Name'] = metro_sales['RegionName_sales'].apply(lambda x: x.split(',')[0])
metro_market_temp['Metro_Name'] = metro_market_temp['RegionName_market_temp'].apply(lambda x: x.split(',')[0])
metro_new['Metro_Name'] = metro_new['RegionName_new'].apply(lambda x: x.split(',')[0])

# merge to the merged_df on "Metro_Name"
merged_df = pd.merge(merged_df, metro_invt, on='Metro_Name', how='left')
merged_df = pd.merge(merged_df, metro_sales, on='Metro_Name', how='left')
merged_df = pd.merge(merged_df, metro_market_temp, on='Metro_Name', how='left')
merged_df = pd.merge(merged_df, metro_new, on='Metro_Name', how='left')

# print head of merged_df
print(merged_df.head())

# print shape of merged_df
print(merged_df.shape)

   RegionID_x  SizeRank_x  RegionName_x RegionType_x StateName_x State  \
0       91982           1         77494          zip          TX    TX
1       61148           2          8701          zip          NJ    NJ
2       91940           3         77449          zip          TX    TX
3       62080           4         11368          zip          NY    NY
4       91733           5         77084          zip          TX    TX

       City                                  Metro        CountyName  \
0      Katy   Houston-The Woodlands-Sugar Land, TX  Fort Bend County
1  Lakewood  New York-Newark-Jersey City, NY-NJ-PA      Ocean County
2      Katy   Houston-The Woodlands-Sugar Land, TX     Harris County
3  New York  New York-Newark-Jersey City, NY-NJ-PA     Queens County
4   Houston   Houston-The Woodlands-Sugar Land, TX     Harris County

      2000-01-31  ...  2023-10-31_new  2023-11-30_new  2023-12-31_new  \
0  212757.568407  ...          1577.0          1871.0          1770.0
1  139171.687163  ...           368.0           348.0           296.0
2  103736.197118  ...          1577.0          1871.0          1770.0
3  147341.057200  ...           368.0           348.0           296.0
4  102296.421002  ...          1577.0          1871.0          1770.0

   2024-01-31_new  2024-02-29_new  2024-03-31_new  2024-04-30_new  \
0          1293.0          1719.0          1779.0          1671.0
1           253.0           261.0           301.0           292.0
2          1293.0          1719.0          1779.0          1671.0
3           253.0           261.0           301.0           292.0
4          1293.0          1719.0          1779.0          1671.0

   2024-05-31_new  2024-06-30_new  2024-07-31_new
0          1712.0          1568.0          1398.0
1           403.0           309.0           308.0
2          1712.0          1568.0          1398.0
3           403.0           309.0           308.0
4          1712.0          1568.0          1398.0

[5 rows x 928 columns]
(129146, 928)